<div class="container">
  <div class="row">
    <h1>Welcome to {{restaurantName}}!</h1>
  </div>
  <br>
  <div class="row col-md-6">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Item</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of menuItems">
          <td>{{p.item}}</td>
          <td>{{p.category}}</td>
          <td>{{p.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>